
<body>
    <h2> Trip History </h2>

      <form>
        Userame<br>
        <input type="text" name="user">
        <br><br>
        <input type="submit" value="Filter">
      </form>

    <table class="container">
      <thead>
        <tr>
          <body>



</body>

          <th><h1>Usernames</h1></th>

        </tr>
      </thead>
      <tbody>
        <tr id = "div1">

        </tr>
      </tbody>
    </table>
  </body>


      <script>
      /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

         var request = new XMLHttpRequest();
          request.open("GET", "/users", false);
          request.send(null)
          var para = document.createElement("p");
          var users= JSON.parse(request.responseText);
          for(let i =0; i < users.length; i++){
          //  console.log (users[i].username);
          var para = document.createElement("p");
          var node = document.createTextNode(users[i].username);
          para.appendChild(node);
          var element = document.getElementById("div1");
          element.appendChild(para);
        }
      </script>
