<form method="POST" action="/takeboard">
        <b>Checkout a board</b><br><br>
        Username: <input type="text" name="username"><br><br>
        Station: <input type="text" name="stationName"><br><br>
        Checkout time: <input type="text" name="checkoutTime">
        <input type="submit" value="Checkout">
</form>
