<body>
    <h2> Trip History </h2>

      <form>
        Userame<br>
        <input type="text" name="user">
        <br><br>
        <input type="submit" value="Filter">
      </form>

    <table class="container">
      <thead>
        <tr>
          <!-- <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">User List</button>
            <div id="myDropdown" class="dropdown-content">
              <p name="Timmy">Timmy</p>
              <p name="Jow">Jow</p>
              <p  name="Carly">Carly</p>
            </div>
          </div>
          <div> -->
          <th><h1>Location</h1></th>
          <th><h1>Checkout</h1></th>
          <th><h1>Check in</h1></th>
          <th><h1>$ Total</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CHELSEA</td>
          <td>9518</td>
          <td>6369</td>
          <td>01:32:50</td>
        </tr>
        <tr>
          <td>WEST VILLAGE</td>
          <td>7326</td>
          <td>10437</td>
          <td>00:51:22</td>
        </tr>
        <tr>
          <td>UNION SQUARE</td>
          <td>4162</td>
          <td>5327</td>
          <td>00:24:34</td>
        </tr>
        <tr>
          <td>UES</td>
          <td>3654</td>
          <td>2961</td>
          <td>00:12:10</td>
        </tr>
        <tr>
          <td>CodePen</td>
          <td>2002</td>
          <td>4135</td>
          <td>00:46:19</td>
        </tr>
        <tr>
          <td>GitHub</td>
          <td>4623</td>
          <td>3486</td>
          <td>00:31:52</td>
        </tr>
      </tbody>
    </table>
  </body>


      <script>
      /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      </script>
