
<html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<head>

      <h2> Hello Admin! </h2>
      <h2>
      <p style= "align:center">
        <button><a href="/allusers"> All Usernames </a> </button>
        <button><a href="/land"> All Trips </a> </button>
        <button><a href="/usertrips"> Specific User </a> </button>
        <button><a href="/takeboard"> Checkout Board </a> </button>
        <button><a href="/returnboard"> Return Board </a> </button>
        <button><a href="/station"> Database! </a> </button>

      </p>


</h2>
</head>
<body >

  {{{body}}}
</body>

</html>
