<body>
    <h2> Station Check </h2>

    <table class="container">
      <thead>
        <tr>
          <th><h1>Location</h1></th>
          <th><h1># Available Skateboards</h1></th>
          <th><h1>Available Space</h1></th>
          <th><h1>Station ID</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CHELSEA</td>
          <td>5</td>
          <td>3</td>
          <td>013250</td>
        </tr>
        <tr>
          <td>WEST VILLAGE</td>
          <td>3</td>
          <td>2</td>
          <td>005122</td>
        </tr>
        <tr>
          <td>UNION SQUARE</td>
          <td>33</td>
          <td>0</td>
          <td>002434</td>
        </tr>
        <tr>
          <td>UES</td>
          <td>23</td>
          <td>3</td>
          <td>001210</td>
        </tr>


      </tbody>
    </table>
  </body>
